body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* Navbar related styles */
.btn-primary {
  border-radius: 3px;
  border: 0;
  background: rgb(105, 181, 211);
  padding: 10px 16px 10px;
}
.btn-primary:hover {
  background-color: aliceblue;
  border: 1.5px solid rgb(105, 181, 211);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-size: 25px;
  font-weight: 800px;
}
.name {
  color: rgb(105, 181, 211);
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin-right: 50px;
}
.banner {
  padding: 50px 0px 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  width: 400px;
  background-image: url(/images/header_bg.png);
  position: right;
}
.banner-greeting {
  font-size: 40px;
  margin-bottom: 0px;
}
.about {
  text-align: center;
  margin: 25px 250px 25px 250px;
  font: size 15px;
}
